<div class="container">

      <div class="question-form">
        <%= form_tag({controller: "answer", action: "index"}, method: :get, class: "form-inline text-center") do %>
          <%= text_field_tag :query, nil, class: "form-control input-lg input-mysize", placeholder: "Ask Watson a Question" %>
          <%= submit_tag 'Ask', name: nil, class: "btn btn-lg btn-default" %>
        <% end %>
      </div>
</div>