<div class="container margin-top">
<div class="row">
  <div class="col-md-4">
    <h3>My Events</h3>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter2</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter3</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to clear all filters</a></li>
      </ul>
    </div>
    Placeholder for datepicker and button if we implement this event functionality
    <div class="col-md-12">
      <!-- Use erb here to populate list on request -->
      <div class="row"><h4>Event Name</h4>Link to Event 1</div>
      <div class="row"><h4>Event Name</h4>Link to Event 2</div>
      <div class="row"><h4>Event Name</h4>Link to Evemt 3</div>
    </div>
  </div>

  <div class="col-md-8">
    <h3>Upcoming Events</h3>
    <!-- Use erb here to populate list on request -->
    <div class="row">
      <div class="col-md-8"><p>Event Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>
    <div class="row">
      <div class="col-md-8"><p>Event Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>
    <div class="row">
      <div class="col-md-8"><p>Event Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>

    <h1>Testing here!!!</h1>
    <p><%= @title %> <%= @url %></p>

    <ul>
      <% @entries.each do |entry| %>
        <li>
          <%= entry.title %>
          <%= entry.url %>
        </li>
      <% end %>
    </ul>


  </div><!--/.col-md-8 -->

</div><!--/.row -->
</div><!--/.container -->
