<div class="container">
<div class="row">
  <div class="col-md-4">
    <h3>My Events</h3>

    <% if user_signed_in? %>
      <table class="table table-hover">
        <% @my_events.each do |event| %>
          <tr>
            <td>
              <%= link_to event.name, event.url %><br>
              <%= event.date.strftime("%A, %b %d") %>
            </td>
            <td style="text-align: right">
              <%= render 'unfollow', event: event %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div><%# col-md-4 %>

  <div class="col-md-8">
    <h3>Upcoming Events</h3>

    <%= render 'upcoming_events_table' %>
  </div><!--/.col-md-8 -->

</div><!--/.row -->
</div><!--/.container -->
