<div class="row">
  <div class="col-md-4">
    <h3>My Saved Activities</h3>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Dropdown
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter1</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter2</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to activate filter3</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Link to clear all filters</a></li>
      </ul>
    </div>
    <div class="col-md-12">
      <!-- Use erb here to populate list on request -->
      <div class="row">Link to Saved Recommendation 1<button class="btn btn-default">Delete</button></div>
      <div class="row">Link to Saved Recommendation 2<button class="btn btn-default">Delete</button></div>
      <div class="row">Link to Saved Recommendation 3<button class="btn btn-default">Delete</button></div>
    </div>
    <h3>Friends Top Activities</h3>
    <div class="col-md-12">
      <!-- Use erb here to populate list on request -->
      <div class="row">Link to Friend Activity 1</div>
      <div class="row">Link to Friend Activity 2</div>
      <div class="row">Link to Friend Activity 3</div>
    </div>
  </div>
  <div class="col-md-8">
    <h3>Suggested Activities</h3>
    <!-- Use erb here to populate list on request -->
    <div class="row">
      <div class="col-md-8"><p>Answer Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>
    <div class="row">
      <div class="col-md-8"><p>Answer Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>
    <div class="row">
      <div class="col-md-8"><p>Answer Page Snippet</p></div>
      <div class="col-md-4"><button class="btn btn-default">Save</button></div>
    </div>
  </div>
</div>
