<div class="row">
  <div class="col-md-12">
    <h2>Mission Statement</h3>
    <p>We strive to make students’ transition to OSU as painless as possible by connecting new students to resources that allow them to become more involved in campus life at Ohio State. We believe that college is a time and place for individuals to explore themselves and connect with others who share similar interests. This objective is tackled from two angles: academic involvement and social involvement. These two domains of college life are integral to a fulfilling experience because in the end, college is about learning and enjoying your time here. The You Do U team strives to facilitate campus involvement in order to let you, the student, do what you want to do.</p>
  </div>
  <div class="col-md-12">
    <h3>Management Team</h3>
    <p>Our core team consists of five Ohio State University students which are listed below along with their skills and roles within the team.</p>
    <ul>
      <li><strong>Tom Gleghorn</strong> - Tom is a 5th year Computer and Information Science major with experience doing full stack web development for a big data analytics startup.  He will contribute to the team as a developer focusing on front-end infrastructure and Watson API interaction.</li>
      <li><strong>Ajda Gokcen</strong> - Ajda is in her 2nd year of studying Linguistics at Ohio State after transferring from Carnegie Mellon, where she studied Electrical and Computer Engineering for 3 years.  She has extensive experience in NLP, including query-based applications, and will apply this knowledge in the development of the back-end, particularly semantic, infrastructure.  She also happens to be a decent graphic designer.</li>
      <li><strong>Jae Lee</strong> - Jae is a 4th year CSE major with experience in front- and back-end web development. She will contribute to the team by being the project manager while also focusing on testing.</li>
      <li><strong>David Meyer</strong> - David is a 5th year CSE major with a minor in Entrepreneurship. He has previous IT industry experience with companies like Cisco and JPMorgan Chase. His areas of expertise lie in web development with some experience in mobile development and data science. In this team, his role will focus on the user experience, back-end development and testing.</li>
      <li><strong>Aakriti Srikanth</strong> - Aakriti is a CSE graduate student. She is a developer/data analyst at the Office of the Chief Information Officer-Enterprise Applications. She has worked with Deloitte Consulting LLP as a business technology analyst and D.E.Shaw & Co as a software developer in the past. She will work as the Data Scientist for the project. As a member of the IBM Watson Corpus Committee, she would be involved in data curation, training the Corpus and meeting potential buyers and partners.</li>
    </ul>
  </div>
</div>
