<div class="row">
  <div class="col-md-12">
    <h2>Licensing</h2>
    <p>
      Our company has decided to allow the licensing of our application
      technology to academies of higher education in the United States. The
      platform can be modified to fit the needs of other universities and
      colleges by using appropriate branding, customized permissions, and data
      curation that is unique to that institution. Our team promises to work
      closely with your institution's Student Life and Digital Information
      leaders to ensure we deliver exactly what your institution needs to
      improve the quality of campus life for its students. Pricing depends on
      the amount of work required to get the app modified to meet the new
      requirements. We also provide plans that include hosting, technical
      support, and monthly or yearly data updates. Please contact us at
      <%= mail_to "licensing@youdou.herokuapp.com" %>
      for more information.
    </p>
  </div>
</div>
