<div class="row">
  <div class="col-md-6">
    <h2>IBM Watson Technology</h2>
    <p>Our application takes advantage of the powerful question answering capabilities of <a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/">IBM's Watson</a>. You may remember seeing Watson's first public demonstration on the TV show <em>Jeopardy</em> a couple years ago. This technology is just now making its way into the hands of developers which means by using this app you are one of the few to experience first-hand its unique capabilities. Watson implements what is called cognitive computing which helps to bridge the gap between humans and computers. This is accomplished with a myriad of techniques including natural language processing, hyphothesis generation and machine learning. To you, the user, this just means a more intuitive way to interact with our application and get the answers you're looking for.
  </div>
  <div class="column-md-6">
    <iframe width="560" height="315" src="//www.youtube.com/embed/lI-M7O_bRNg" frameborder="0" allowfullscreen></iframe>
  </div>
