// Place all the styles related to the social controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, * {
    padding: 0;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
    position: absolute;
}
#leftCol {
    background: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 75%;
    overflow: hidden;
    padding: 2em;
}
#rightCol {
    background: #bbb;
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;    
    padding: 2em;
}
