@import "bourbon";

// colors
$red: #900;
$gray: #666;

// helper classes
.margin-top { margin-top: 80px; }

// horizontal unordered lists
@mixin horizontal-ul {
  list-style-type: none;
  margin: 0;

  li { float: left; }
}

// styles
body {
  @include display(flex);
  min-height: 100vh;
  @include flex-direction(column);

  a { color: $red; }

  .site-content {
    @include flex(1);
  }
}

.navbar-text { color: white !important; }
.navbar-brand img {
  height: 40px !important;
  margin-top: -10px !important;
}

ul,
ol {
  margin-left: 1.1em;
}

.oval-wrapper {
  background: url(asset-path('revised_oval.jpg', image));
  background-size: cover;
  padding: 0 20px 3em;

  .slogan {
    text-align: center;
    color: white;
    font-size: 400%;
  }
}

.red-wrapper {
  h3 {
    margin: 0 0 1em;
    font-size: 2.5em;
    font-weight: 500;
  }

  background: $red;
  color: white;
  padding: 2em 20px;

  .block-container {
    margin: 0 auto;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    .block {
      @include flex-grow(1);
      @include flex-shrink(0);
      @include flex-basis(33%);
      text-align: center;
    }

    .block + .block {
      margin-top: 2em;
    }
  }

  .iconmelon,
  .im {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;
    fill: white;
  }
  .iconmelon:after,
  .im:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.nav-flex-container {
  margin: 0 auto;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(nowrap);
  @include justify-content(space-between);
  align-items: center;

  .logo {
    padding-top: 1em;
    img {
      width: 80px;
    }
  }

  .link {
    color: white;
    font-size: 150%;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px black;
    letter-spacing: 1px;

    a {
      color: white;
      text-shadow: 3px 3px 4px black;
    }
  }
}

// footer
footer {
  background: $gray;
  color: white;
  padding: 2em 0;

  ul {
    @include horizontal-ul;

    li a { color: white; }
    li + li { margin-left: 1em; }
  }
}
