= simple_form_for interest, url: {controller: "interests", action: "remove",
  interest_id: interest.id}, method: :get do |f|
  = button_tag(type: 'submit', class: 'btn btn-primary btn-xs') do
    %span.glyphicon.glyphicon-trash
