<div class="container">
<div class="row">

  <div class="col-sm-3">
    <img class="img-responsive" src="" alt="User's Picture"/>
    <h3>User's Name</h3>
    <button type="button" class="btn btn-default">Edit Profile</button>
    <br/>
    <p>Rank: Junior</p>
    <p>Major: Biology</p>
    <p>Minor: </p>
    <p>Involvement:</p>
    <ul>
      <li>UG Student Senate</li>
      <li>Club Soccer</li>
      <li>Pre-med Club</li>
    </ul>
    <p>Jobs:</p>
    <ul>
      <li>Blackwell Waitress</li>
      <li>Dog Walker</li>
    </ul>
    <p>Interests:</p>
    <ul>
      <li>Soccer</li>
      <li>Movies</li>
      <li>Oceanography</li>
    </ul>
  </div><%# col-sm-3 %>

  <div class="col-sm-9">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="active">
        <a href="#recommendations" role="tab" data-toggle="tab">
          Recommendations
        </a>
      </li>
      <li><a href="#events" role="tab" data-toggle="tab">Events</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="active tab-pane" id="recommendations">Recommendations</div>
      <div class="tab-pane" id="events">
        <%= render "events" %>
      </div>
    </div>
  </div><%# ./col-sm-9 %>

</div><%# /.row %>
</div><%# /.container %>
